/* The Modal (background) */
.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(62,63,84,.9);
  }
  
  /* Modal Content */
  .modal-content {
    background-color: rgba(18, 22, 31, 1);
    color: #bbc4c9;
    text-align: center;
    position: relative;
    margin: auto;
    padding: 0;
    border-radius: 12px; 
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 5px 20px;
    color: #bbc4c9;
    background-color: rgba(18, 22, 31, 1);
    border-radius: 12px;
    font-size: 12px;
    font-weight: 300;
    text-align: left;
  }
  
  .modal-body {padding: 5px 25px 25px;}
  .modal-header h2{font-size: 16px;}
  .modal-body h2{font-weight: 300;}