.onboardingBanner{
    align-items: center;
    border-radius:8px;
    background: linear-gradient(90deg,#1d1329 0%,#1e1429 20%,#0c0b29 100%);
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

@media (min-width: 768px){
    .onboardingBanner {
    display: grid;
    grid-template-columns: minmax(auto,1fr) auto minmax(auto,1fr);
    grid-gap: 10px;
    height: 100px;
}
}

.onboardingBanner-close{
    position: absolute;
    top: 10px;
    right: 10px
  }

 
.onboardingBanner-pic {
    background-size: contain !important;
    height: 68px;
    width: 161px;
    position:absolute;
    bottom: 0;
    left: 0;
}

@media (min-width: 768px){
    .onboardingBanner-pic {
        height: 100px;
        width: 219px;
        background-size: cover !important;
    }
  }


.onboardingBanner-message{
    position: relative;
    grid-column-start: 2;
    padding: 0 15px;
}



.onboardingBanner-message h2{
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    
}

.onboardingBanner-message h5{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin: 6px 0 24px;
}

@media (min-width: 768px){
    .onboardingBanner-message{
        text-align: center;
    }
     
    .onboardingBanner-message h2{
        margin: 0; 
        font-size: 24px;
        line-height: 30px;
        font-weight: 400;
        
    }
    
    .onboardingBanner-message h5{
        margin: 0; 
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
    }
    
}

.onboardingBanner-actionButton{
    text-align: right;
    padding: 14px;
}

@media (min-width: 768px){
    .onboardingBanner-actionButton{
        padding-right: 50px;
    } 
}