.sidebar {
    display: none;
    position: fixed;
    left: 0;
    top: 56px;
    background: #2b2b3c;
    bottom: 0;
    overflow-y: auto;
    transition: width .3s;
}

@media (min-width: 992px) {
    .sidebar {
        display: flex;
        flex-direction: column;
    }
}

.sidebar-nav {
    flex-grow: 1;
}

.sidebar a {
    color: #83838d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    position: relative;
    padding: 2px 20px;
    text-decoration: none;
}

.sidebar-label {
    padding: 0 20px 0 10px;
    font-size: 14px;
    font-weight: 500;
}


.mobile-nav2 {
    display: none;
}

@media (max-width: 992px) {
    .sidebar {
        display: none;
    }

    .mobile-nav2 {
        display: flex;
        position: fixed;
        z-index: 3;
        top: 46px;
        right: 0;
        left: 0;
        background: #2b2b3c;
        border-top: 1px solid #303142;
        border-bottom: 1px solid #303142;
        width: 100%;
    }

    .mobile-nav2 a {
        color: #83838d;
        text-align: center;
        padding: 8px 16px;
        text-decoration: none;
        align-items: center;
        display: flex;
        flex: 1 0 auto;
        justify-content: center;
    }

}

.active {
    color: #fff !important;
}