
.mainmenu{
    position: fixed;
    height: 56px;
    left: 0;
    right: 0;
    display: flex;
    background: #2b2b3c;
    border-top: 1px solid #303142;
    border-bottom: 1px solid #303142; 
}


.mainmenu-logo{
    display: flex;
    align-items: center;
}

 .mainmenu-summery{
    color: #83838d;
    font-size: 12px;
    font-weight: 500;
    padding-left: 10px;
}

.mainmenu-logo-link, .more-link{
    color: #83838d;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    max-width: 64px;
    border-right: 1px solid #303142;
    border-bottom: 1px solid #303142;
}

.mainmenu-logo-img {
    display: block;
    opacity: .4;
    padding: 0 7px;
}

.mainmenu-nav{
    flex:1
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
ul  li {
    float: left;
  }
  
ul li a {
    display: block;
    color: #83838d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    font-size: 14px;
    font-weight: 500;

    display: flex;
    align-items: flex-end;
  }
  
ul li a:hover {
   cursor: pointer;
  }


.mobile-nav , .mobile-mainmenu-summery{
    display: none;
}
@media (min-width: 992px){
    .mainmenu-logo{
        min-width: 200px;
    }
}
@media (max-width: 992px){
    .mainmenu-nav, .more-link, .mainmenu-summery{
       display: none;
    } 
    .mainmenu{
        height: 46px;
    }
    .mobile-mainmenu-summery{
        display: block;
        color: #83838d;
        font-size: 14px;
        font-weight: 500;
        padding-left: 10px;
    }
    .mobile-nav{
        display: flex;
        position: fixed;
        z-index: 15;
        bottom: 0;
        right: 0;
        left: 0;
        background: #21212e;
        width: 100%;
    }
    .mobile-nav ul{
        width: 100%;
        display: flex;
        justify-content:space-evenly;
        list-style-type: none;
    }

}

.active {
    color: #fff !important;
  }