.logo {
    display: block;
    text-align: center;
}

.logo-img {
    height: 30px;
    width: 150px;
}
@media (min-width: 768px){  
    .logo {
        left: 4.5rem;
        margin: 0;
        position: absolute;
        top: 3rem;
      }
}
