body{
    background: rgb(62, 63, 84);
}

.dashboardGrid{
    display: grid;
    grid-gap: 14px;
    padding: 80px 15px 30px;

    grid-template:
    "banner" auto
    "funds" auto
    "wallet" auto
    "margin" auto
    "yield" auto
    "top" auto
    "portfolio" auto
    "strategies" auto
    "contests" auto; 
}

@media (min-width: 992px)  {
    .dashboardGrid{
        padding: 80px 15px 30px 80px;

        grid-template:
            "funds banner" auto
            "wallet wallet" auto
            "margin margin" auto
            "yield yield" auto
            "top top" auto
            "portfolio portfolio" auto
            "strategies strategies" auto
            "contests contests" auto;
    }
}

.mainmenu{
    position: fixed;
    height: 56px;
    left: 0;
    right: 0;
    display: flex;
    background: #2b2b3c;
    /* border-top: 1px solid #303142;
    border-bottom: 1px solid #303142; */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #83838d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    display: flex;
    align-items: flex-end;
  }
  
  li a:hover {
   cursor: pointer;
  }
  .active {
    color: #fff;
  }
